/* NavigationBar.css */

.navbar {
    display: flex;
    justify-content: space-between; /* Align items evenly */
    background-color: darkslategray;
    transition: background-color 0.3s ease;
    padding: 20px 20px 20px 0; /* Increase vertical padding and add right padding */
}

.navbar.scrolled {
    background-color: transparent;
}

.navbar-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 20px; /* Increase font size */
    padding: 15px 20px; /* Increase padding */
}

.navbar-link:hover {
    color: darkseagreen;
}

.active.navbar-link {
    font-weight: bold;
}

.form-search {
    display: flex;
    align-items: center; 
    margin-left: 50px;/* Align items vertically */
  }
  
  .search-input {
    margin-right: 10px; /* Add some spacing between input and button */
  }
  
  .search-button {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #ffffff;
    color: darkslategray;
  }